<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectDali WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ProjectDali.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4354FDC61B3EBC4500A50816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4354FDDA1B3EBC4500A50816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4354FDE51B3EBC4500A50816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4354FDEE1B3EBC4500A50816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
